doctype html
html(lang="en")

  head
    title Humanist
    link(rel="stylesheet" href="style.css")

  body
    svg#network
    svg#timeline
    svg#minimap
    script(type="text/javascript" src="script.js")
