doctype html
html(lang="en")

  head
    title Humanist
    link(rel="stylesheet" href="style.css")

  body

    svg#network
    svg#timeline
    svg#minimap

    div#kde
    div#search

    div#overlay
      include:markdown ./overlay/index.md

    script(type="text/javascript" src="script.js")
