doctype html
html(lang="en")

  head
    title Humanist
    link(rel="stylesheet" href="style.css")

  body

    svg#network
    svg#timeline
    svg#minimap
    div#kde
    div#search

    div#branding
      include:markdown ./content/branding.md
    div#overlay
      include:markdown ./content/overlay.md

    script(type="text/javascript" src="script.js")
