

@import url("//fonts.googleapis.com/css?family=Inconsolata:400,700");
@bg-color: #0c2d49;

body {
  margin: 0;
  background: @bg-color;
}

#network {

  rect.overlay {
    fill: none;
    pointer-events: all;
  }

  text.node {

    font-family: Inconsolata;
    fill: darken(whitesmoke, 25%);
    cursor: pointer;

    &.highlighted {
      fill: whitesmoke;
      font-weight: bold;
    }

  }

  line {

    stroke-width: 0.2;
    pointer-events: none;

    &.background {
      stroke: lighten(@bg-color, 25%);
    }

    &.highlight {
      stroke: darken(whitesmoke, 20%);
    }

  }

}

#minimap {

  position: fixed;
  width: 300px;
  height: 100px;
  top: 20px;
  right: 20px;

  circle.node {

    fill: darken(whitesmoke, 30%);
    cursor: pointer;

    &.highlighted {
      fill: white;
    }

  }

  rect.extent {
    fill: none;
    stroke-width: 1;
    stroke: red;
  }

}
