

#kde {

  display: none;
  position: fixed;
  width: @px-widget-width;
  height: @px-widget-height;
  top: @px-widget-height + (2*@px-gutter);
  right: @px-gutter;

  background: rgba(0, 0, 0, 0.5);

  path.main-line {
    stroke: white;
  }

  circle.line_rollover_circle {
    fill: @color-hl;
  }

  text.active_datapoint {
    fill: white;
  }

  .x-axis {

    line {
      stroke: white;
    }

    text {
      fill: white;
      opacity: 0.7;
    }

  }

}
