

#search {

  position: fixed;
  top: 20px;
  left: 20px;

  input {

    .transition(width 0.2s ease);
    .placeholder(darken(whitesmoke, 40%));

    width: 150px;
    padding: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: darken(whitesmoke, 10%);
    font-family: @font-body;
    font-size: 16px;

    &:focus {
      outline: 0;
    }

    &.valid {
      color: @color-hl;
    }

    &.active {
      width: 200px;
      .placeholder(darken(whitesmoke, 20%));
    }

  }

}
